/* LANDING PAGE CSS */

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center; 
    width: 600px;
    height: 100vh;
    background-image: url(images/paper.jpeg);
}
   

.container{
    width: 100%;
    height: auto;
}

.myPhoto{
    position: absolute;
    top: 50px;
    padding-left: 115px;
    width: 190px;
    height: auto;
    transform: rotate(-7deg);
}

.library{
    position: absolute;
    top: 25px;
    right: 30px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    transform: rotate(3deg);
    border: solid;
    border-color: white;
}

.poopoo{
    position: absolute;
    bottom: -15%;
    right: 50px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    transform: rotate(-3deg);
    border: solid;
    border-color: white;
}

.name{
    position: absolute;
    width: 400px;
    height: auto;
    border-radius: 10px;
    top: 30%;
    left: 38%;
    transition: all 0.3s ease;
}

.name:hover {
    outline: 7px dashed #890620; 
    padding: 10px;
}

.quote3{
    position: absolute;
    top: 45%;
    right: 50px;
    width: 235px;
    height: auto;
    border-radius: 10px;
    transform: rotate(5deg);
}

.quote2{
    position: absolute;
    top: 50px;
    padding-left: 200px;
    width: 190px;
    height: auto;
    transform: rotate(7deg);
}
   
.sonny{
    position: absolute;
    top: 55%;
    left:23%;
    width: 190px;
    height: auto;
    transform: rotate(7deg);
}

.banner{
    position: absolute;
    width: 600px;
    height: auto;
    border-radius: 10px;
    top: -10%;
    left: 30%;
}

.disk1{
    position: absolute;
    width: 250px;
    height: auto;
    border-radius: 10px;
    top: 85%;
    left: 30%;
    transform: rotate(7deg);
}

.disk2{
    position: absolute;
    width: 250px;
    height: auto;
    border-radius: 10px;
    top: 85%;
    right: 30%;
    transform: rotate(-7deg);
}

.code{
    position: absolute;
    top: 35%;
    left:23%;
    width: 190px;
    height: auto;
    transform: rotate(4deg);
}
.hirono{
    position: absolute;
    top: 45%;
    right: 16%;
    width: 235px;
    height: auto;
    border-radius: 10px;
    transform: rotate(-5deg);
}

.click{
    position: absolute;
    font-size: 25px;
    font-family: "Caveat";
    color: #910404;
    height: auto;
    border-radius: 10px;
    top: 23%;
    left: 46%;
}
